.login {
    height: 100vh;
    background: url('../img/bg/login.jpg') top center / cover no-repeat;
    display: flex;
    align-items: center;

    &__leftside, &__rightside {
        flex: 1;
    }

    &__leftside {
        display: flex;
        justify-content: center;
    }
}